html {
    background: #222;
    color: #ebebeb;
    width: 9em;
    height: 8em;
}

input[type="button"].start_button {
    font-size: 1.4em;
    font-weight: bold;
    padding: 10px 30px;
    background-color: darkgreen;
    color: #fff;
    border-style: none;
}

input[type="button"].start_button:hover {
    background-color: greenyellow;
    color: #fff;
}

input[type="button"].end_button {
    font-size: 1.4em;
    font-weight: bold;
    padding: 10px 30px;
    background-color: red;
    color: #fff;
    border-style: none;
}

input[type="button"].end_button:hover {
    background-color: #ff9000;
    color: #fff;
}

p.counter {
    font-size: 3em;
}

p.sub_text {
    font-size: 0.1em;
}

.marquee {
    width: 400px;
    padding-left: 400px;
    white-space: nowrap;

    animation-name: marquee;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes marquee {
    from    { transform: translate(0%); }
    100%,to { transform: translate(-100%); }
}